/* .legal-notice {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 2rem;
} */

.legal-text {
    text-decoration: none;
    font-size: small;
}

.legal-text:hover {
    text-decoration: underline;
}